// 背景青色
$color-background = #F5F5EE
// 黄色的企鹅色
$color-theme = #ff9a6a
// 字体颜色
$color-text = #848484
// 深色标题字体
$color-text-d = #535252

// 字体大小
$size-text-l = 20px
$size-text-m = 14px
$size-text-s = 12px
